.container  {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 5px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(224, 116, 9);
}
.item1 {
    grid-column-start:1;
    grid-column-end:span 5;
    background-color: rgb(139, 244, 139);
}
.item2 {
    grid-row-start:2;
    grid-row-end:4;
    background-color: rgb(139, 244, 139);
}
.item3 {
    grid-column-start:2;
    grid-column-end:span 4;
    background-color: rgb(139, 244, 139);;
}
.item4 {
    grid-column-start:2;
    grid-column-end:4;
    background-color: rgb(139, 244, 139);;
}
.item5 {
    grid-column-start:4;
    grid-column-end:6;
    background-color: rgb(139, 244, 139);;
}
.item6 {
    grid-column-start:1;
    grid-column-end:6;
    background-color: rgb(139, 244, 139);;
}